# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
/src/**/bin/
/src/**/obj/
*.log
logs/
_ReSharper*/
output/
release/
*.suo
*.user
*.cache
App_Data/
/src/GlobalAssemblyInfo.cs
/SetupVersion.inf
Thumbs.db

# mstest test results
TestResults
/CSharp/**/src/bin
/CSharp/**/src/obj
/CSharp/**/src/**/bin
/CSharp/**/src/**/obj
CSharp/ApiClient/EnterpriseTester.API.Client.Tests/bin/*
CSharp/ApiClient/EnterpriseTester.API.Client.Tests/obj/*
CSharp/ApiClient/EnterpriseTester.API.Client/bin/*
CSharp/ApiClient/EnterpriseTester.API.Client/obj/*
CSharp/ApiClient/packages/System.Net.Http.2.0.20126.16343/System.Net.Http.2.0.20126.16343.nupkg
CSharp/ApiClient/packages/System.Net.Http.2.0.20126.16343/lib/net40/System.Net.Http.WebRequest.dll
CSharp/ApiClient/packages/System.Net.Http.2.0.20126.16343/lib/net40/System.Net.Http.WebRequest.xml
CSharp/ApiClient/packages/System.Net.Http.2.0.20126.16343/lib/net40/System.Net.Http.dll
CSharp/ApiClient/packages/System.Net.Http.2.0.20126.16343/lib/net40/System.Net.Http.xml
CSharp/ApiClient/packages/System.Net.Http.Formatting.Extension.5.2.3.0/System.Net.Http.Formatting.Extension.5.2.3.0.nupkg
CSharp/ApiClient/packages/System.Net.Http.Formatting.Extension.5.2.3.0/lib/System.Net.Http.Extensions.dll
CSharp/ApiClient/packages/System.Net.Http.Formatting.Extension.5.2.3.0/lib/System.Net.Http.Formatting.dll
CSharp/ApiClient/packages/System.Net.Http.Formatting.Extension.5.2.3.0/lib/System.Net.Http.Primitives.dll
CSharp/ApiClient/packages/Newtonsoft.Json.10.0.2/LICENSE.md
CSharp/ApiClient/packages/Newtonsoft.Json.10.0.2/Newtonsoft.Json.10.0.2.nupkg
CSharp/ApiClient/packages/Newtonsoft.Json.10.0.2/lib/net20/Newtonsoft.Json.dll
CSharp/ApiClient/packages/Newtonsoft.Json.10.0.2/lib/net20/Newtonsoft.Json.xml
CSharp/ApiClient/packages/Newtonsoft.Json.10.0.2/lib/net35/Newtonsoft.Json.dll
CSharp/ApiClient/packages/Newtonsoft.Json.10.0.2/lib/net35/Newtonsoft.Json.xml
CSharp/ApiClient/packages/Newtonsoft.Json.10.0.2/lib/net40/Newtonsoft.Json.dll
CSharp/ApiClient/packages/Newtonsoft.Json.10.0.2/lib/net40/Newtonsoft.Json.xml
CSharp/ApiClient/packages/Newtonsoft.Json.10.0.2/lib/portable-net45+win8+wpa81+wp8/Newtonsoft.Json.xml
CSharp/ApiClient/packages/Newtonsoft.Json.10.0.2/tools/install.ps1
CSharp/ApiClient/packages/Newtonsoft.Json.10.0.2/lib/net45/Newtonsoft.Json.dll
CSharp/ApiClient/packages/Newtonsoft.Json.10.0.2/lib/net45/Newtonsoft.Json.xml
CSharp/ApiClient/packages/Newtonsoft.Json.10.0.2/lib/netstandard1.0/Newtonsoft.Json.dll
CSharp/ApiClient/packages/Newtonsoft.Json.10.0.2/lib/portable-net40+sl5+win8+wpa81+wp8/Newtonsoft.Json.xml
CSharp/ApiClient/packages/Newtonsoft.Json.10.0.2/lib/portable-net45+win8+wpa81+wp8/Newtonsoft.Json.dll
CSharp/ApiClient/.vs/config/applicationhost.config
CSharp/ApiClient/packages/Newtonsoft.Json.10.0.2/lib/netstandard1.0/Newtonsoft.Json.xml
CSharp/ApiClient/packages/Newtonsoft.Json.10.0.2/lib/netstandard1.3/Newtonsoft.Json.dll
CSharp/ApiClient/packages/Newtonsoft.Json.10.0.2/lib/netstandard1.3/Newtonsoft.Json.xml
CSharp/ApiClient/packages/Newtonsoft.Json.10.0.2/lib/portable-net40+sl5+win8+wpa81+wp8/Newtonsoft.Json.dll
